<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="checkout_details_area mt-50 clearfix">

          <div class="cart-title">
            <h2>Mot de passe oublié</h2>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.email_field :email, autofocus: true, class:"form-control", id:"email", placeholder:"Email", autocomplete: "email" %>
            </div>

          </div>

          <div class="cart-btn mt-50">
            <%= f.submit "Demander un nouveau mot de passe", class:"btn amado-btn" %>
          <% end %>

          </div>
          <div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
