<!-- Mobile Nav (max width 767px)-->
  <div class="mobile-nav">
      <!-- Navbar Brand -->
      <div class="amado-navbar-brand">
          <%= link_to image_tag('logo.jpg'), "/" %>
      </div>
      <!-- Navbar Toggler -->
      <div class="amado-navbar-toggler">
          <span></span><span></span><span></span>
      </div>
  </div>


    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <%= link_to image_tag('logo.jpg'), root_path %>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>

                <li><%= link_to "Home", root_path %></li>


            </ul>
        </nav>
        <!-- Cart Menu -->
        <div class="cart-fav-search mb-100">
            <a href="/carts/show/" class="cart-nav"> <%= image_tag "cart.png", class:"cart-nav", alt: "cart"%> Panier</a>



      </div>
      <% if user_signed_in? %>

    <nav class="amado-nav">
      <ul>
        <% if user_signed_in? && current_user.is_admin == true %>
          <li><%= link_to "Ajouter un produit", new_item_path %></li>
        <% end %>
        <li>
          <%= link_to 'Mon profil',user_path(current_user.id)%>
        </li>

        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      </nav>

    <% else %>
    <nav class="amado-nav">
      <ul>
        <li>
          <%= link_to "Connexion", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Inscription", new_user_registration_path%>
        </li>
      </ul>
    </nav>
    <% end %>
  </header>
  <!-- Header Area End -->
