<!-- code à ajouter dans l'edit des items
<!-- Active Storage -->
  <h3>itempicture actuel</h3>
  <%if @item.itempicture.attached?%>
    <% puts "#############################".red %>
    <% puts "@item.itempicture.length = #{@item.itempicture.length}".red %>
    <% puts "#############################".red %>
    <% @item.itempicture.each do |itempicture| %>
      <%= image_tag itempicture, alt: 'itempicture' %>
      <%= link_to 'Effacer', item_itempicture_path(@item.id, itempicture.id),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    <% end %>
  <%else%>
    <p>=== Il n'y a pas encore de itempicture lié à cet item ===</p>
  <%end%>
  <h3>Changer de itempicture ?</h3>
  <%= form_tag item_itempicture_index_path(@item), multipart: true do %>
    <%= file_field_tag :itempicture, multiple: true %>
    <%= submit_tag "mettre à jour" %>
  <% end %>
<!-- End Active Storage -->
---->
