<div class="shop_sidebar_area">

  <!-- ##### Single Widget ##### -->
  <div class="widget catagory mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Categories</h6>

    <!-- Catagories -->
    <div class="catagories-menu">
      <ul>
        <% Category.all.each do |cat| %>
        <li id="category-<%= cat.id %>" class="active">
          <%= link_to cat.name, category_path(cat.id), remote: true %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>


</div>

<div class="amado_product_area section-padding-100">
  <div class="container-fluid">


    <div class="row" id="main-content-index">
      <!-- Single Product Area -->
      <!-- récuperation des données, ligne par ligne pour l'affichage -->
      <% Item.all.each do |item| %>
      <div class="col-12 col-sm-6 col-md-12 col-xl-6">
        <div class="single-product-wrapper">
          <% @itemvar = item.id %>
          <% item.itempicture.each do |itempicture| %>
            <div class="product-img">
              <%= image_tag item.itempicture.first, alt: 'chaton' %>
            </div>
            <% break %>
          <% end %>
            <!-- Product Description -->
          <div class="product-description d-flex align-items-center justify-content-between">
              <!-- Product Meta Data -->
            <div class="product-meta-data">
              <div class="line"></div>
              <p class="product-price"><%= item.price %> €</p>
              <h6><%= link_to item.title, item_path(item.id) %></h6>
            </div>

          </div>
        </div>
      </div>
      <% end %>
      <!-- End Single Product Area -->
    </div>
  </div>
  


</div>
