<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
          <div class="col-md-4">
            <% @item.itempicture.each do |itempicture| %>
              <div class="thumbnail">
                  <%= image_tag itempicture, alt: 'itempicture', style:"width:100%"%>

              </div>
              <% end %>
            </div>

        </div>
      </div>









      <div class="col-12 col-lg-5">
        <div class="single_product_desc">
          <!-- Product Meta Data -->
          <div class="product-meta-data">
            <div class="line"></div>
            <p class="product-price"> <%= @item.price %>€</p>

              <h6> <%= @item.title %> </h6>

          </div>

          <div class="short_overview my-5">
            <p> <%= @item.description %> </p>
          </div>

          <!-- Add to Cart Form -->
          <form class="cart clearfix" method="post">
            <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
          </form>
          <div>
          <%= link_to "Éditer ce châton", edit_item_path(@item.id)  %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
