
<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
          <div class="d-flex flex-wrap">
            <%if @item.itempicture.attached?%>
              <% @item.itempicture.each do |itempicture| %>
              <div class="flex-row col-4">
                <div class="thumbnail">
                  <%= image_tag itempicture, alt: 'itempicture', style:"width:100%", class:""%>
                </div>


                </div>
              <% end %>
            <%else%>

              <p>=== Il n'y a pas encore d'image liée à ce châton ===</p>

            <%end%>
            </div>

        </div>
      </div>

      <div class="col-12 col-lg-5">
        <div class="single_product_description">
          <!-- Product Meta Data -->
          <div class="product-meta-data">
            <div class="line"></div>
            <p class="product-price"> <%= @item.price %>€</p>

              <h6> <%= @item.title %> </h6>

          </div>

          <div class="short_overview my-5">
            <p> <%= @item.description %> </p>
          </div>

  
          <div>
          <%= link_to "Éditer ce châton", edit_item_path(@item.id), class:"btn amado-btn"  %>
          </div>
        </div>
      </div>
      <div>
        <%= link_to "Supprimer ce châton", item_path(@item.id), class:"btn amado-btn", data:{method: "DELETE"} %>
      </div>
    </div>
  </div>
</div>
