<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-50">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Furniture</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Chairs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">white modern chair</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
          <img src="<%= @item.image_url %>">
          <!-- Active Storage -->
            <h3>prodpicture actuel</h3>
            <%if @item.prodpicture.attached?%>
              <% puts "#############################".red %>
              <% puts "@item.prodpicture.length = #{@item.prodpicture.length}".red %>
              <% puts "#############################".red %>
              <% @item.prodpicture.each do |prodpicture| %>
                <%= image_tag prodpicture, alt: 'prodpicture' %>
                <%= link_to 'Effacer', item_prodpicture_path(@item.id, prodpicture.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              <% end %>
            <%else%>
              <p>=== Il n'y a pas encore de prodpicture lié à cet item ===</p>
            <%end%>
            <h3>Changer de prodpicture ?</h3>
            <%= form_tag item_prodpicture_index_path(@item), multipart: true do %>
              <%= file_field_tag :prodpicture, multiple: true %>
              <%= submit_tag "mettre à jour" %>
            <% end %>
          <!-- End Active Storage -->
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="single_product_desc">
          <!-- Product Meta Data -->
          <div class="product-meta-data">
            <div class="line"></div>
            <p class="product-price"> <%= @item.price %>€</p>
            <a href="product-details.html">
              <h6> <%= @item.title %> </h6>
            </a>
          </div>

          <div class="short_overview my-5">
            <p> <%= @item.description %> </p>
          </div>

          <!-- Add to Cart Form -->
          <form class="cart clearfix" method="post">
            <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Details Area End -->
