
<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
          <img src="<%= @item.image_url %>">
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="single_product_desc">
          <!-- Product Meta Data -->
          <div class="product-meta-data">
            <div class="line"></div>
            <p class="product-price"> <%= @item.price %>€</p>

              <h6> <%= @item.title %> </h6>

          </div>

          <div class="short_overview my-5">
            <p> <%= @item.description %> </p>
          </div>

          <!-- Add to Cart Form -->
          <!-- <form class="cart clearfix" method="post">
            <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
          </form> -->
          <%= form_tag(carts_path, method: :create) do %>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="item_id" value=<%= @item.id %> >
            <input type="hidden" name="user_id" value= <%= current_user.id %> >
            <input type="hidden" name="unit_price" value= <%= @item.price %> >
            <input type="hidden" name="quantity" value= <%= 1 %> >
            <%= submit_tag "Ajouter au Panier", class: "btn amado-btn" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
