<!DOCTYPE html>
<html lang="en">
  <%= render 'head_partial' %>
  <body>
    <!-- Partial of research -->
    <%= render 'search_partial' %>


    <!-- Partial of Navigation -->
    <%= render 'nav_partial' %>

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
      <%= yield %>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <%= render 'footer_body_partial' %>

  </body>
</html>
